<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wing.mybatis.test.Mapper">
   <select id="test" resultType="java.lang.String">
       select 'ok'
   </select>

    <update id="updateName">
        update test_1 set `name`=#{name} where id=#{id}
    </update>

    <insert id="addName">
        insert into test_1 (name) values (#{name});
    </insert>

    <insert id="addSystemUser">
        insert into test_1 (`name`) values (#{userId});
    </insert>
</mapper>